*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 114px;
    padding: 4px 0px 0px ;
    margin-left: 5px;
}

.logo{
    background-image: url("images/amazon-logos.png") ;
    background-size: cover;
    margin: 1px;
    height:50px;
    width: 100%;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
    border-radius: 4px;
}

/* box 2 */

.add-first{
    color: #cccccc;
    font-size: 0.7rem;
    margin-left: 24px;
    padding: 10px 10px 0px 0px;
}

.add-second{
    font-size: 0.87rem;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
    padding: 0px 10px 10px 10px;
}

/* box 3 */

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: orange;
    width: 900px;
    height: 40px;
    border-radius: 4px;
    
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px ;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #0F1111;
}

.nav-search:hover{
    border: 2px solid orange;
}

/* box language */

.language{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 19px 8px 19px 9px;
    
}

.lang-name{
    border: none;
    border-radius: 4px;
    background-color: #0F1111;
    color: white;
    font-weight: 700;
}

/* box4 */
.nav-signin{
    padding: 10px 5px 10px 5px;
}

span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.87rem;
    font-weight: 700;
}

.nav-return{
    padding: 10px 5px 10px 5px;
}

/* box 5 */

.nav-cart i{
    font-size: 25px;
    padding: 15px 0px 15px 10px;
}

.nav-cart{
    font-size: 0.87rem;
    font-weight: 700;
}

/* panel */

.panel{
    height: 40px;
    background-color: #232f3e;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops a{
    display: inline;
    color: white ;
    text-decoration: none;
    margin-left: 15px;
}

.panel-ops{
    width: 85%;
    font-size: 0.9rem;
}

.panel-deals a{
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 700;
}

.panel-deals{
    padding: 8px;
}

/* hero section */

.hero-section{
    background-image: url("images/amzHero1.jpg");
    height: 400px;
    z-index: -1;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.87rem;
    width: 98%;
    margin-bottom: 25px;
}

.hero-msg a {
    text-decoration: none;
    color: #007185;
}

/* shop section */

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    z-index: 1;
}

.box {
    height: 400px;
    /* border: 2px solid black; */
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin: 15px;
    
}

.box-img{
    height: 320px;
    background-size: cover;
    margin: 1rem 0rem ;
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-items: center;
}

.box-content{
    margin: 0rem 1rem 0rem 1rem;
    justify-content: center;
    align-items: center;
}

.box-content a{
    color:  #007185;
    font-size: 0.87rem;
    text-decoration: none;
}

h2{
    font-size: 1.3rem;
}

.sub-box-img{
    /* border: 2px solid black; */
    height: 120px;
    width: 150px;
}

.sub-box-content{
    justify-content:center;
    align-items: center;
    margin: 0rem 1rem 0rem 1rem;
}

.sub-img-content a{
    font-size: 0.77rem;
    color: black;
    text-decoration: none;
}

/* shop section 2 */

.shop-section2{
    height: 260px;
    width: 98%;
    background-color: #e2e7e6;
}

.big-box{
    background-color: white;
}

.big-box2{
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    text-align: center;

}

.h2{
    padding: 15px;
}

.ul-img{
    display: flex;
}

.li-img{
    margin: 15px;
    list-style: none;

}
